// ----------- Fonts -----------
// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


// ----------- Colors -----------
$blue_color: #191645;
$active_blue_color: #2f2d49;
$mint_color: #43c6ac;
$light_mint_color: #defff8;

// ----------- Scrollbar -----------
body *::-webkit-scrollbar {
    width: 12px;
}
body *::-webkit-scrollbar-track {
    background: white;
}
body *::-webkit-scrollbar-thumb {
    background-color: $mint_color;
    border-radius: 20px;
    border: 3px solid white;
}

a {
    text-decoration: none;
}